This is the initial release. Let's call it v 1.0.

But I want to add some features. This is in dev branch. It is v 1.1 beta.
Oh no,  have realized that I made a mistake and need to add a bugfix. Now this is v 1.1.1 beta

Oh no, my bugfix was bad. But this is the dev branch, so attempt #2: v 1.1.2

Okay, now it is time for v 1.2 beta!

# I added this AFTER adding to master code:
New vulnerability on the Internet! I had to add this hotfix directly to stable version, without testing in dev! Also, dev version has some unstable functions.

So this is v 1.2.1 beta
